# Desenvolvimento local
# VITE_API_URL=http://localhost:8000
# VITE_USERS_API_URL=http://localhost:8001

# Produção / Azure
VITE_API_URL=http://20.110.145.100/ml
VITE_USERS_API_URL=http://20.110.145.100/users